<!-- <div class="panel-heading" >
	
	<ul class="placeul">
		
	
		<li>修改用户信息</li>
	</ul>
</div> -->
<!-- 录入旅游信息 -->
<!-- <div class="formbody"> -->
	<!-- ng-submit:表单提交后执行updateUser() -->
	<!-- <form ng-submit="updateUser()">
	
		<div class="formtitle">
			
		</div> -->
		<div id="page-wrapper"  style="margin:0;padding:0">   
  <div class="row">
		<div class="col-md-12" style="width:100%">
			<div class="panel panel-default">    
				<div class="panel-heading" >
				 <a href="#" onclick="javascript:history.go(-1);"><!-- 用户管理 --></a><span>修改用户信息</span>
				</div>  			
				<div class="panel-body">
					<div class="row">
					<style>
                    b{color:red;}
                    </style>
		<form style="padding:0 30px;" role="form" ng-submit="updateUser()">
							<table class="tablelist111">
									<tr>
                                    <td class="width15 text-center">姓名<b>*</b></td>         
									<td><input class="dfinput111" ng-model="users.user_name" required/></td>
									<span class="username" style="color:#ff0080"><img style="width:16px" src="/gywyext/images/warning.png" />&nbsp;&nbsp;姓名不能为空</span>
									</tr>
									<tr>
									<td class="width15 text-center">电话<b>*</b></td>
									<td><input class="dfinput111" ng-model="users.user_tel" required pattern="^\d{11,}$"/></td>
									</tr>
									<tr>
									<td class="width15 text-center">邮箱<b>*</b></td>
									<td><input class="dfinput111" ng-model="users.user_email" required pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"/></td>
									</tr>
									<tr>
                                    <td class="width15 text-center">账号<b>*</b></td>
									<td><input class="dfinput111" ng-model="users.user_acct" required/></td>
									</tr>
									<tr>
									<td class="width15 text-center">密码<b>*</b></td>
									<td><input class="dfinput111" ng-model="users.user_pwd" type="password" ng-change="myFunc()"/>
									</tr>
                                    <tr>
                     				<td class="width15 text-center">角色<b>*</b></td>
 									<td ><select class="dfselect" ng-model="users.role_id" style="width: 167px" > 
									<option ng-repeat="r in roles" ng-selected="r.role_id==users.role.role_id" value="{{r.role_id}}">{{r.role_name}}</option>	
									</select></td>
	 								</tr>
								</table>
  
                            <div class="buttonbox">
					         <input	href="#userList" id="addStaff"	class="btn btn-default" type="submit" value="提交修改" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>    
