<div id="page-wrapper"  style="margin-left: 0px;padding-top:100px">
<!-- 这是内容的开始 -->   
  <div class="row">
		<div class="col-md-12" style="width:100%">
			<div class="panel panel-default">      
				<div class="panel-heading">
					<a href="#" onclick="javascript:history.go(-1);">设备主页</a><span>>设备详细基本信息</span>
		<!-- 		<a  href="#/equipMain" class="toolbar1" >
		<button class="btn btn-default" ><i class=" fa fa-edit "></i>查看维保信息</button></a> -->
				</div>  
				<div class="panel-body">
							
					<table class="tablelist">
						<tr>
							<td style="width:400px;" rowspan="7" class="width15 text-center">
								<div>
								<img style="height:300px;" src="{{equipmentDetail.file_id.file_path | pathFiliter}}">
								</div>
							</td>
							<td class="width15 text-center">设备名称*</td>
							<td >{{equipmentDetail.equip_name}}</td>
							<td class="width15 text-center">设备型号*</td>
							<td >{{equipmentDetail.equip_no}}</td>
							<td class="width15 text-center">设备编号*</td>
							<td >{{equipmentDetail.equip_num}}</td>	
						</tr>
						<tr>
				         	<td class="width15 text-center">安装位置*</td>
							<td >{{equipmentDetail.equip_room.equip_room_name}}</td>
							<td class="width15 text-center">出厂日期*</td>
							<td >{{equipmentDetail.equip_pdate.time | timer}}</td>	
          						<td class="width15 text-center">使用日期*</td>
							<td >{{equipmentDetail.equip_udate.time | timer}}</td>	
						</tr>
						<tr>
							<td class="width15 text-center">出厂序号</td>
							<td >{{equipmentDetail.equip_snum | sgFilter}}</td>
							<td class="width15 text-center">设备价格</td>
							<td >{{equipmentDetail.equip_bfee | number:2}}元</td>	
				            <td class="width15 text-center">折旧年限</td>
							<td >{{equipmentDetail.equip_life | sgFilter}}年</td>	
						</tr>
						<tr>
						    <td class="width15 text-center">所属系统*</td>
							<td >{{equipmentDetail.equip_type.equip_type_name}}</td>
							<td class="width15 text-center">制造厂家</td>
							<td >{{equipmentDetail.equip_manu}}</td>	
          					<td class="width15 text-center">联系方法</td>
							<td >{{equipmentDetail.equip_tel}}</td>	
        				</tr>
        				<tr>
				            <td class="width15 text-center">设备负责人*</td>
							<td >{{equipmentDetail.user.user_name}}</td>
							<td class="width15 text-center">设备维护周期</td>
							<td >{{equipmentDetail.equip_mdate | sgFilter}}天</td>	
				            <td class="width15 text-center">下次维保时间*</td>
							<td >{{equipmentDetail.equip_ndate.time | timer}}</td>	
				         </tr>
				         <tr>
						 	<td class="width15 text-center">设备特征参数</td>
							<td colspan='3' id="addEparaDiv">
								<div ng-repeat="ep in equipmentPara">
								<span>{{ep.equip_para_name}}</span>
								<span>{{ep.equip_para_rate | sgFilter}}</span>
								<span>{{ep.equip_para_unit}}</span>
								<span>{{ep.equip_para_memo}}</span>
								</div>
							</td>
						<!-- 	<td class="width15 text-center">特征参数备注</td>
							<td>
								<div ng-repeat="ep in equipmentPara">
								<span>{{ep.equip_para_memo}}</span>
								</div>
							</td> -->
				         </tr>
				         <tr style="height:100px;">
						 	<td class="width15 text-center">备注</td>
							<td colspan='15'>{{equipmentDetail.equip_memo}}</td>
				         </tr>
					</table>
<!-- 				<div class="panel panel-default">
				<div class="panel-heading" style="width:100%">{{equipmentDetail.equip_name}}维保信息</div>
				<div class="panel-body">					
			<table class="table table-striped table-bordered table-hover"
				id="dataTables-example">
				<thead>
					<tr>
						<th>维保编号</th>
						<th>维保内容</th>
						<th>维保时间</th>
						<th>维保用时</th>
						<th>维保人员</th>
						<th>维保结果</th>
						<th>维保备注</th>
					</tr>
				</thead>
			 	<tbody>
					<tr ng-repeat="em in equipmains track by $index" id={{a.alarm_log_id}}>
						<td>{{$index + 1}}</td>
						<td>{{em.equip_main_info}}</td>
						<td>{{em.equip_main_date | timer}}</td>
						<td>{{em.equip_main_time}}</td>
						<td>{{em.equip_main_worker}}</td>
						<td>{{em.equip_main_result}}</td>
						<td>{{em.equip_main_memo}}</td>			    
				</tr>
				</tbody> 				
			</table>	
		</div>
		</div> -->
			<!-- <div  class="tcdPageCode">页码容器</div> -->		
				</div>
			</div>
		</div>						
	</div>
<!-- 这是内容的结束 -->
</div>
        
        <script>
        $("#main-menu").on("click",function(e){
        	if(e.target.nodeName == "A"){
        		$(this).find("a").removeClass("clickin");
        		$(e.target).addClass("clickin");
        	}
        })
        
         $(document).ready(function () {
    		$("#sideNav").click(function(){
    			if($(this).hasClass('closed')){
    				$('.navbar-side').animate({left: '0px'});
    				$(this).removeClass('closed');
    				$('#page-wrapper').animate({'margin-left' : '260px'});
    				
    			}
    			else{
    			    $(this).addClass('closed');
    				$('.navbar-side').animate({left: '-260px'});
    				$('#page-wrapper').animate({'margin-left' : '0px'}); 
    			}
    		});
        });

        $(window).bind("load resize", function () {
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse')
            } else {
                $('div.sidebar-collapse').removeClass('collapse')
            }
        });
        
        </script>
        
<script type="text/javascript" src="/gywyext/js/lib/pageTurn.js"></script>