<div class="formbody">
 <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                       <br><br><br>
                        <div class="panel-heading">
                                                                                      添加设备安装位置信息(页面临时使用)
                        </div>		
	     <div class="panel-body">
              <div class="row">

<div class="rightinfo" ng-submit="addEquipRoom()">
<table class="tbl tablelist">
          <tr>
            <td colspan='2' class="width15 text-center">设备位置名称*</td>
			<td colspan='2'><input class="dfinput" ng-model="equiproomInfo.equip_room_name" required /> </td>
			<td colspan='2' class="width15 text-center">项目编号*</td>
			<td colspan='2'><input class="dfinput" ng-model="equiproomInfo.project" required /> </td>			
         </tr>
</table>
<input ng-click="addEquipRoom()" type="submit" class="btn" value="提交" />
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- <div class="rightinfo" ng-submit="addEquipPara()">
<table class="tbl tablelist">
          <tr>
            <td colspan='2' class="width15 text-center">设备位置名称*</td>
			<td colspan='2'><input class="dfinput" ng-model="equipparaInfo.equip_para_name" required /> </td>
			<td colspan='2' class="width15 text-center">项目编号*</td>
			<td colspan='2'><input class="dfinput" ng-model="equipparaInfo.equipment" required /> </td>			
         </tr>
</table>
<input ng-click="addEquipPara()" type="submit" class="btn" value="提交" /></div> -->