<div id="page-wrapper"  style="margin-left: 260px;padding-top:100px">
<!-- 这是内容的开始 -->
<style type="text/css">.left{  width:200px;  height:500px;  float:left;}.right{  width:200px;  height:500px;  float:left;}</style>
<p>表头导航栏位置</p>
      
  <div class="row">
			  <div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
				<h3>设备详细基本信息</h3>
				</div>        
							  
							<div class="panel-body" ng-model="equipmentDetail.equip_name">
								<table>  
								<div class="left">
								<div><strong>设备名称: {{equipmentDetail.equip_name}}</strong></div><br>
								<div><strong>设备型号: {{equipmentDetail.equip_no}}</strong></div><br>
								<div><strong>设备规格: {{equipmentDetail.equip_spec}}</strong></div><br>
								<div><strong>设备寿命: {{equipmentDetail.equip_atime}}</strong></div><br>
								<div><strong>设备分类: {{equipmentDetail.equip_type.equip_type_name}}</strong></div><br>
								<div><strong>设备制造商: {{equipmentDetail.equip_manu.equip_manu_name}}</strong></div><br>	
								<div><strong>设备安装位置: {{equipmentDetail.equip_room.equip_room_name}}</strong></div><br>
								<div><strong>设备负责人: {{equipmentDetail.user.user_name}}</strong></div><br><br><br>
								<div><strong>设备备注: {{equipmentDetail.equip_memo}}</strong></div>
								</div>  
								<div class="right">
								<div><strong>设备生产日期: {{equipmentDetail.equip_pdate | timer}}</strong></div><br>
								<div><strong>设备购买日期: {{equipmentDetail.equip_bdate | timer}}</strong></div><br>
								<div><strong>设备安装日期: {{equipmentDetail.equip_idate | timer}}</strong></div><br>
								<div><strong>设备使用日期: {{equipmentDetail.equip_udate | timer}}</strong></div><br>
								<div><strong>设备安装费用: {{equipmentDetail.equip_ifee}}元</strong></div><br>
								<div><strong>设备购买费用: {{equipmentDetail.equip_bfee}}元</strong></div><br>
								<div><strong>设备维护周期: {{equipmentDetail.equip_mdate}}天</strong></div><br>
								<div><strong>设备下次维保时间: {{equipmentDetail.equip_ndate | timer}}</strong></div><br>	
								</div>
								</table>
								
								           <div>二维码放置的位置（右上角）</div>
								             <div>图片放置的位置<（右边整片空白）</div>
					
							</div>
				</div>
			    </div>						
				</div>                                         





<!-- 这是内容的结束 -->
</div>

         <nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav"><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                
               <ul class="nav" id="main-menu">
                     <li ng-repeat="ld in leftData">
                        <a style="font-weight:600" value="{{ld.comp_id}}"><i class="fa fa-sitemap"></i> {{ld.comp_name}}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-repeat="ldd in ld.data">
                            <li>
                                <a class="leftSecond" href="" ng-click="selectBaseInfoByProj(ldd.proj_id)">{{ldd.proj_name}}</a>
                            </li>
                        </ul>
                    </li>
                 </ul>
                 
            </div>
        </nav>
        
        <script>
        $("#main-menu").on("click",function(e){
        	if(e.target.nodeName == "A"){
        		$(this).find("a").removeClass("clickin");
        		$(e.target).addClass("clickin");
        	}
        })
        
         $(document).ready(function () {
    		$("#sideNav").click(function(){
    			if($(this).hasClass('closed')){
    				$('.navbar-side').animate({left: '0px'});
    				$(this).removeClass('closed');
    				$('#page-wrapper').animate({'margin-left' : '260px'});
    				
    			}
    			else{
    			    $(this).addClass('closed');
    				$('.navbar-side').animate({left: '-260px'});
    				$('#page-wrapper').animate({'margin-left' : '0px'}); 
    			}
    		});
        });

        $(window).bind("load resize", function () {
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse')
            } else {
                $('div.sidebar-collapse').removeClass('collapse')
            }
        });
        
        </script>
        
<script type="text/javascript" src="/gywyext/js/lib/pageTurn.js"></script>