<div id="page-wrapper"  style="margin-left: 260px;padding-top:100px">
<div class="panel panel-default">
	<div class="panel-heading">
	<div ng-app="" class="tools">
		<form class="toolbar">
			<!-- 根据设备分类筛选设备信息 -->
			请选择设备区域： <select class="dfselect" ng-model="equip_room"  style="width: 167px">
				<option value="0">全部</option>
				<option ng-repeat="erm in equiproom_p" value="erm.equip_room_id">{{erm.equip_room_name}}</option>
			</select>
				
			<!-- 根据健康状态筛选设备信息 -->
			请选择设备健康状态： <select class="dfselect" ng-model="equip_state"
				ng-change="getELByTS()" style="width: 167px">
				<option value="0">全部</option>
				<option value="1">健康</option>
				<option value="2">一般</option>
				<option value="3">故障</option>
			</select>
		
		</form>	
	<ul class="toolbar131232" >
			<li class="click" ><a href="#/equipAdd"><span></span>新建</a></li>
		</ul>
	</div>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover"
				id="dataTables-example">
				<thead>
					<tr>
						<th>编号</th>
						<th>设备名称</th>
						<th>设备型号</th>
						<th>设备规格</th>
						<th>设备分类</th>
						<th>设备健康状态</th>
						<th>设备负责人</th>
						<!-- <th>下次维保时间</th> -->
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="e in equipments track by $index" id={{e.equip_id}}>
						<td>{{$index + 1}}</td>
						<td>{{e.equip_name}}</td>
						<td>{{e.equip_no}}</td>
						<td>{{e.equip_spec}}</td>
						<td>{{e.equip_type.equip_type_name}}</td>
						<td><progress value="{{e.equip_state}}" max="10"></progress></td>
						<td>{{e.user.user_name}}</td>
						<!-- <td>{{e.equip_ndate}}</td> -->
						<td><a class="click" href="#/equipDetail">查看设备详情</a><!-- 修改，删除操作放置到编辑操作里面 -->
					    <a href="#/equipUpdate" ng-click="getEquipmentId(e.equip_id)"class="tablelink"	
				        has-permission='tEdit'> 修改</a>
					    <a href="#equipBaseInfo" ng-click="deleteEquipmentInfo(e.equip_id)" class="tablelink"
					     has-permission='tDel'> 删除</a></td>
				
				</tbody>
				
			</table>
			
			
		</div>
	</div>
		<div  class="tcdPageCode">页码容器</div>


         <nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav"><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                
               <ul class="nav" id="main-menu">
                     <li ng-repeat="ld in leftData">
                        <a style="font-weight:600" value="{{ld.comp_id}}"><i class="fa fa-sitemap"></i> {{ld.comp_name}}<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" ng-repeat="ldd in ld.data">
                            <li>
                                <a class="leftSecond" href="" ng-click="selectBaseInfoByProj(ldd.proj_id)">{{ldd.proj_name}}</a>
                            </li>
                        </ul>
                    </li>
                 </ul>
                 
            </div>
        </nav>
        
        <script>
        $("#main-menu").on("click",function(e){
        	if(e.target.nodeName == "A"){
        		$(this).find("a").removeClass("clickin");
        		$(e.target).addClass("clickin");
        	}
        })
        
         $(document).ready(function () {
    		$("#sideNav").click(function(){
    			if($(this).hasClass('closed')){
    				$('.navbar-side').animate({left: '0px'});
    				$(this).removeClass('closed');
    				$('#page-wrapper').animate({'margin-left' : '260px'});
    				
    			}
    			else{
    			    $(this).addClass('closed');
    				$('.navbar-side').animate({left: '-260px'});
    				$('#page-wrapper').animate({'margin-left' : '0px'}); 
    			}
    		});
        });

        $(window).bind("load resize", function () {
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse')
            } else {
                $('div.sidebar-collapse').removeClass('collapse')
            }
        });
        
        </script>
        
<script type="text/javascript" src="/gywyext/js/lib/pageTurn.js">