<div id="page-wrapper"  style="margin-left: 0px">   
  <div class="row">
		<div class="col-md-12" style="width:100%">
			<div class="panel panel-default">    
				<div class="panel-heading">
				 <a href="#" onclick="javascript:history.go(-1);">公司管理</a><span>>新建公司信息</span>
				</div>  			
				<div class="panel-body">
					<div class="row">
					                <style>
                                    b{color:red;}
                                    </style>
						<form style="padding:0 30px;" role="form" ng-submit="addCompany()">
	 						<table class="tablelist111">
                                    <tr>
									<td class="width15 text-center">公司名称<b>*</b></td>
									<td><input class="dfinput111" ng-model="company.comp_name" required /></td>
									</tr>
									<tr>
									<td class="width15 text-center">公司地址<b>*</b></td>
									<td><input class="dfinput111" ng-model="company.comp_addr" required /></td>
									</tr>
									<tr>
                                    <td class="width15 text-center">公司人员数量<b>*</b></td>
									<td><input class="dfinput111" ng-model="company.comp_num" onkeyup="value=value.replace(/\D/g,'')" placeholder="请输入整数" required /></td>
									</tr>
                                 <tr style="height:100px;">
								 	<td class="width15 text-center">备注</td>
									<td><textarea class="dfinput111" ng-model="company.comp_memo"/></td>
						         </tr>
						         <tr>
								 	<td class="width15 text-center">设备特征参数</td>
									<td colspan='6' id="collapseOne">
										<div class="eparadiv">
								            <div><span class="width1 text-center">项目名称</span>
											<input name="projname" class="dfinput111" />
											</div>
											<div><span class="width1 text-center">项目地址</span>
											<input name="projaddr" class="dfinput111" />
											</div>
								            <div><span class="width1 text-center">业主数量</span>
											<input name="projnum" class="dfinput111" value="0"/>
											</div>
								            <div><span class="width1 text-center">项目备注</span>
											<input name="projmemo" class="dfinput111" type="text" />
											</div>
											<img class="addeparaimg" onclick='addProject()' src="../../images/addEpara.png">
											<img class="deeparaimg">
										</div>
									</td>
						         </tr>
                             </table>
     	                    <div class="buttonbox">
					         <input class="btn btn-default" type="submit" value="确认提交" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--  <div class="col-md-4 col-sm-4 motai">
	<div class="panel panel-success">
		<div class="panel-heading">添加成功</div>
		<div class="panel-body" style="padding: 30px; text-align: center">
			<img src="/gywyext/images/addSuccess.png"><span>&nbsp;&nbsp;&nbsp;本页面将在<b
				class="countnum">{{count}}</b>秒内关闭
			</span>
		</div>
		<div class="panel-footer">关闭窗口</div>
	</div>
</div> -->
<script type="text/javascript" src="/gywyext/js/lib/bootstrap.min.js"></script>
<script>
function addProject(){
	var tableScontent = $('#collapseOne');
	var $div = $("<div class='eparadiv'></div>");
	var $input1 = $("<div><span class='width15 text-center'>项目名称:&nbsp;&nbsp;&nbsp;</span><input	name='projname'  class='dfinput111' /></div>");
	var $input2 = $("<div><span class='width15 text-center'>项目地址:&thinsp;&thinsp;&thinsp;</span><input 	name='projaddr'	class='dfinput111' /></div>");
	var $input3 = $("<div><span class='width15 text-center'>业主数量:&thinsp;&thinsp;&thinsp;</span><input name='projnum'	class='dfinput111' value='0'/></div>");
	var $input4 = $("<div><span class='width15 text-center'>项目备注:&thinsp;&thinsp;&thinsp;</span><input  name='projmemo'	class='dfinput111' 	type='text' />");
	var $input5 = $("<img class='addeparaimg' onclick='addProject()' src='../../images/addEpara.png'><img class='deeparaimg' src='../../images/deEpara.png'>");	
	$div.append($input1);
	$div.append($input2);
	$div.append($input3);
	$div.append($input4);
	$div.append($input5);
	tableScontent.append($div);
	$('.deeparaimg').click(function(e){
		$(e.target).parent().empty();
	})
}

$("#main-menu").on("click",function(e){
	if(e.target.nodeName == "A"){
		$(this).find("a").removeClass("clickin");
		$(e.target).addClass("clickin");
	}
})

 $(document).ready(function () {
	$("#sideNav").click(function(){
		if($(this).hasClass('closed')){
			$('.navbar-side').animate({left: '0px'});
			$(this).removeClass('closed');
			$('#page-wrapper').animate({'margin-left' : '260px'});
			
		}
		else{
		    $(this).addClass('closed');
			$('.navbar-side').animate({left: '-260px'});
			$('#page-wrapper').animate({'margin-left' : '0px'}); 
		}
	});
});

$(window).bind("load resize", function () {
    if ($(this).width() < 768) {
        $('div.sidebar-collapse').addClass('collapse')
    } else {
        $('div.sidebar-collapse').removeClass('collapse')
    }
});
</script>