<div id="page-wrapper"  style="margin-left: 0px">   
  <div class="row">
		<div class="col-md-12" style="width:100%">
			<div class="panel panel-default">    
				<div class="panel-heading">
				 <a href="#" onclick="javascript:history.go(-1);">公司管理</a><span>>新建项目信息</span>
				</div>  			
				<div class="panel-body">
					<div class="row">
						<form style="padding:0 30px;" role="form" ng-submit="addProject()">
							<table class="tablelist111">
								<tr>
                                    <td class="width15 text-center">项目名称<b>*</b></td>
									<td><input class="dfinput111" ng-model="project.proj_name" required/></td>
									</tr>
									<tr>
									<td class="width15 text-center">项目地址<b>*</b></td>
									<td><input class="dfinput111" ng-model="project.proj_addr" required/></td>
									</tr>
                                    <tr>
									<td class="width15 text-center">业主数量<b>*</b></td>
									<td><input class="dfinput111" ng-model="project.proj_num" required/></td>
									</tr>
								     <tr>
                                    <td class="width15 text-center">所属公司</td>
									<td ><select class="dfinput111" ng-model="project.company" > 
										<option ng-repeat="c in companys" value="{{c.comp_id}}">{{c.comp_name}}</option>
										</select></td>
										</tr>
									<tr>
									<td class="width15 text-center">备注</td>
									<td><textarea class="dfinput111" ng-model="project.proj_memo" /></td>
									</tr>
                             </table>
     	                    <div class="buttonbox">
					         <input class="btn btn-default" type="submit" value="确认提交" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
