
<form role="form" ng-submit="updateCompany()">	
		<div class="form-group">
			<label>公司名称:&nbsp;&nbsp;&nbsp;</label> <input ng-model="companys.comp_name" class="form-control" required>&nbsp;&nbsp;
			<span class="companyname" style="color:#a94442"><img style="width:14px" src="/gywyext/images/warning.png" />&nbsp;&nbsp;请输入公司名称</span>
		</div>
		<div class="form-group">
			<label>公司地址:&nbsp;&nbsp;&nbsp;</label> <input ng-model="companys.comp_addr" class="form-control">
		</div>
		<div class="form-group">
			<label>公司人员数量:&nbsp;&nbsp;&nbsp;</label> <input ng-model="companys.comp_num" class="form-control">
		</div>
		<div class="form-group">
			<label>备注:&nbsp;&nbsp;&nbsp;</label> <textarea ng-model="companys.comp_memo" class="form-control"rows="3"></textarea>
		</div>
	
						 	
		<div class="buttonbox">
			<input type="submit" class="btn btn-default" value="确认提交" />
	      </div>
	</form>  
		
	

