
 <div id="page-wrapper"  style="margin:0;padding:0"> 
<!-- 这是内容的开始 -->   
  <div class="row">
		<div class="col-md-12" style="width:100%">
			<div class="panel panel-default">      

				<div class="panel-heading">
				 <a href="#" onclick="javascript:history.go(-1);">项目管理</a><span>>查看所属设备区域</span>
						<a has-permission='pRAdd' href="#/roomAdd" class="toolbar1" >
		<button class="btn btn-default" ><i class=" fa fa-edit "></i>新建所属设备区域</button></a>
				</div>
				<div class="panel-body">		
					<table class="tablelist">
						<thead>
					<tr>
						<th>区域名称</th>
						<th>区域备注</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="er in equipRooms track by $index" id={{er.equip_room_id}}>
						<td>{{er.equip_room_name}}</td>
						<td>{{er.equip_room_memo}}</td>
						<td> <a href="#equipRoomInfo" ng-click="deleteEquipRoomInfo(er.equip_room_id)" class="tablelink" has-permission='pRDel'> 删除</a>		    
				        </td>
				</tr>
				</tbody>						
					</table>
			</div>
		</div>						
	</div>
</div>
 </div> 
								
										
										 
								  
								 
							
								
										
								