.gradeU td{
	text-align:center;
}
body{
  overflow:hidden;
}
.panel-default{
	overflow-y: scroll;
    height: -webkit-fill-available;
    max-height: 600px;
}
.menu{
	position:absolute;
	margin-left:260px;
	width: inherit;
}
#menuUl{
	    margin-bottom: 0;
}
#menuUl>.active{
	background-color:#E6E6E6 !important;
	color: #32C2CD !important;
}
#menuUl>li{
	display: inline-block;
	height:100%;
}
#menuUl>.active{
	background-color:#E6E6E6 !important;
}
.active{
	color: #32C2CD !important;
}
.alarmdiv::-webkit-scrollbar { width: 0 !important }
/* 南健pageCSS */
.tcdPageCode {
	padding: 15px 20px;
	text-align: right;
	color: #ccc;
}

.tcdPageCode a {
	display: inline-block;
	color: #428bca;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border: 1px solid #ddd;
	margin: 0 2px;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode a:hover {
	text-decoration: none;
	border: 1px solid #428bca;
}

.tcdPageCode span {
	display: inline-block;
	margin: 0 4px;
}

.tcdPageCode span.current {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #fff;
	background-color: #428bca;
	border: 1px solid #428bca;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode span.disabled {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #bfbfbf;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}
.toolbar1 {
	float: right;
}

.tcdPageCode {
	padding: 15px 20px;
	text-align: right;
	color: #ccc;
}	

.tablelist {
	width: 100%;
	clear: both;
	border-collapse: collapse;
}
.tablelist th {
	padding-top:4px;
	padding-bottom:4px; 
	background-color:#F0F5F7;
	border-bottom: solid 1px #b6cad2;
	text-indent: 11px;
	/* text-align: left; */
	text-align: center;
}

.tablelist caption{
	margin:24px auto 12px auto;
	font-size:16px;
	font-weight:bold;
}

.report-tr th{
	max-width:166px;
}

.tablelist td {
	border: solid 1px #e4e4e4;
	line-height: 60px;
	color: #444444;
	text-indent: 11px;
}

.tablelink {
	margin-right: 8px;
	color: #056dae;
	cursor: pointer;
}

.tablelist tbody tr.odd {
	background: #f5f8fa;
}

.tablelist tbody tr:hover {
	background: #e5ebee;
}

.text-center {
	text-align: center;
}
.dfinput {
	width: 80%;
	min-width:150px;
	height: 32px;
	margin-right: 12px;
	line-height: 32px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	text-indent: 10px;
}
textarea.dfinput {
	height: 80px;
	vertical-align: middle;
	width: -webkit-fill-available;
	margin-right: 22px;
}
.tipbtn {
	margin-left: 125px;
}
.sure, .cancel {
	width: 96px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}
.cancel {
	background: url(../images/btnbg2.png) repeat-x;
	color: #000;
	font-weight: normal;
}
.overlayer {
	/* width:100%;
	height:100%; */
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	z-index: 1111;
}

.tip {
	width: 520px;
	height: 500px;
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -270px;
	background: #fff;
	box-shadow: 1px 2px 2px 1px #9b9b9b;
	border-radius: 1px;
	behavior: url(js/pie.htc);
	display: none;
	z-index: 111111;
	opacity: 1;
	filter: alpha(opacity = 100);
}


/* 进度条绿色 */
.p-green progress { -webkit-appearance: none; }
.p-green ::-webkit-progress-bar {border: 1px solid #c0c0c0; background: #e6e6e6; }  /* 背景颜色 */
.p-green ::-webkit-progress-value  { background: #04b026; }  /* 进度条颜色 */
.p-green ::-moz-progress-bar { border: 1px solid #c0c0c0; background: #e6e6e6; }  /* IE10进度条颜色 */
.p-green ::-ms-fill {background: #04b026; }       /* IE10进度条颜色 */
/* 进度条黄色 */
.p-yellow progress { -webkit-appearance: none; }
.p-yellow ::-webkit-progress-bar {border: 1px solid #c0c0c0; background: #e6e6e6; }  /* 背景颜色 */
.p-yellow ::-webkit-progress-value  { background: #ffff11; }  /* 进度条颜色 */
.p-yellow ::-moz-progress-bar { border: 1px solid #c0c0c0; background: #e6e6e6; }  /* IE10进度条颜色 */
.p-yellow ::-ms-fill {background: #ffff11; }       /* IE10进度条颜色 */
/* 进度条红色 */
.p-red progress { -webkit-appearance: none; }
.p-red ::-webkit-progress-bar {border: 1px solid #c0c0c0; background: #e6e6e6; }  /* 背景颜色 */
.p-red ::-webkit-progress-value  { background: #ff3737; }  /* 进度条颜色 */
.p-red ::-moz-progress-bar { border: 1px solid #c0c0c0; background: #e6e6e6; }  /* IE10进度条颜色 */
.p-red ::-ms-fill {background: #ff3737; }       /* IE10进度条颜色 */

/* 南健pageCSS结束 */
.form-group label {
    width: 15%;
    text-align: right;
}
.form-control{
	display: inline !important;
	width: 70%;
}
.buttonbox{
	 display: flex;
     width: 100%;
     flex-direction: row;  /* 子元素横向排列 */
     justify-content: center; /* 相对父元素水平居中 */
     align-items: center; /*  子元素相对父元素垂直居中 */
}
.panel-default > .panel-heading{
	padding: 15px !important;
}
.panel-heading > h4 {
	padding-top:0;
}
.add-project{
	width:90%;
	text-align: right;
	margin-bottom: 10px;
}
.add-project > img{
	height: 16px;
}
.col-md-12{
	width: 90%;
}
.col-md-12 .form-control{
	width: 85%;
}
.col-md-4{
	width: 325px
}
.motai{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -325px;
    z-index: 100;
    display: none;
}
.overlayer {
	/* width:100%;
	height:100%; */
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	z-index: 99;
}
.panel-footer{
	text-align: right;
}
.companyname{
	display: none;
}

.click{
	
	position:absolute;
	left:180px; /*左右位置*/
	top:174px;/*上下位置*/
	width:100px;
	height:100px;
	z-index:1;
	    color: #5bc0de;
}
.clicking{
	text_align:left
	position:absolute;
	
	top:150px;/*上下位置*/
	width:100px;
	height:100px;
	z-index:1;

}
.clickagain{
	text-align: right;
	
}
.input-group-btn{
	
	position:absolute;
	left:300px;
	top:-4px;/*上下位置*/
	
	z-index:1;

}
.form-controling{
	
	position:absolute;
	left:15px;
	top:-4px;/*上下位置*/
	
	z-index:1;

}

.leftSecond{
	margin-left:0px;
}
a.leftSecond:hover,a.leftSecond:active{
	background-color:#E6E6E6 !important;
	color: #32C2CD !important;
}

.clickin{
	background-color:#E6E6E6 !important;
	color: #32C2CD !important;
}
.form-control{
	width:400px;
            height:50px;
            border:1px solid #00ffff;
}
.radio-inlinea{
	position:absolute;
	left:180px;
}
.username{
	display: none;
}
/* 用户管理左侧菜单栏 */
/* nav{
	margin:100px auto;
	text-align:center;
}
nav ul{
	border-radius:10px 10px;
	background:#ff8040;
	background:linear-gradient(to bottom,#efefef,#bbbbbb); 
	pading:0 20px;
	display:inline-table;
	position:relative;
	top:-60px;
	box-shadow:1px 1px 3px #400040;
	width:200px;
	text-align:center;
	
}
	
nav ul ul{
	display:none;
}
nav ul li{
	float:center;
}
nav ul::after{
	content:"";
	display:block;
	clear:both;
}
nav ul li a{
	display:block;
	pading:25px 40px;
	color:#000;
	text-decoration:none;
	font-family:"微软雅黑";
}
nav ul li:hover>ul{
	display:block;
}
nav ul li:hover{
	 background:#808000;
	border-radius:10px 10px;
	 background:linear-gradient(to bottom,#4f5964,#5f6975); 
}
nav ul li:hover a{
	color:#FFF;
}
nav ul ul{
	background:#808000;
	border-radius:5px 5px;
	position:absolute;
	top:100%;
	pading:0;
	
}
nav ul ul li{
	float:none;
	border-top:1px thin #00ffff;
	border-bottom:1px thin #00ffff;
}
nav ul ul li a{
	color:#ffff00;
}
nav ul ul li a:hover{
	background:#8080ff;
}
nav ul ul {
	width:100%;
	position：absolute;
	left:10%;
	top:100%;
	height:320%;
	  color:#00ff80;  
} */
/* 用户左侧菜单栏结束 */
/* 单个用户删除	 */
.tips {
	width: 520px;
	height: 500px;
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -270px;
	background: #ffffff;
	box-shadow: 1px 2px 2px 1px #9b9b9b;
	border-radius: 10px;
	behavior: url(js/pie.htc); 
	display: none;
	z-index: 111111;
	opacity: 1;
	filter: alpha(opacity = 100);
}
.tipinfo {
	padding-top: 35px;
	margin-left: 36px;
	height: 35px;
}
.tipinfo span {
	width: 95px;
	height: 35px;
	float: left;
}
.tipright cite {
	color: #858686;
}
.tipright {
	float: left;
	padding-top: 15px;
	padding-left: 10px;
}
.tipright p {
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
}
.tipbtns {
	/* margin-top: 25px; */
	margin-left: 125px;
}
.sures, .cancels {
	width: 96px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	/* background: url(../images/btnbg1.png) repeat-x; */
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}
/* 单个用户删除结束 */
.navbar-side{
	position:fixed;
	left:0;
}
.eparainput {
	width: 16%;
	height: 32px;
	margin-right: 12px;
	line-height: 32px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	text-indent: 10px;
}
.eparadiv{
	border-bottom: 1px solid #e4e4e4;
}
.eparadiv:last-child{
	border:none;
}
.addeparaimg{
	height: 20px;
	margin-right:10px;
}
.deeparaimg{
	height: 20px;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.topspan{
	color: white;
    margin: auto 15px;
    line-height: 60px;
}

.dfinput111 {
	width: 40%;
	min-width:150px;
	height: 32px;
	margin-right: 12px;
	line-height: 32px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	text-indent: 10px;
}
.tablelist111 {
	width: 100%;
	clear: both;
	border-collapse: collapse;
}
.tablelist111 td {
	border: 0;
	line-height: 60px;
	color: #444444;
	text-indent: 11px;
}

textarea.dfinput111 {
	height: 80px;
	vertical-align: middle;
	margin-right: 22px;
}
.browse-image{
	position:relative;
}
        .browse-image input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
/* progress
{
   color:#ff0000; 兼容IE10的已完成进度背景
   border:none;
   background:#d7d7d7;这个属性也可当作Chrome的已完成进度背景，只不过被下面的::progress-bar覆盖了      
   
}

progress::-webkit-progress-bar      背景进度条

{
   background:#d7d7d7;
}

 progress::-webkit-progress-value,  实际进度条
progress::-moz-progress-bar
{
     background:#ff0000;
}  */






