.gradeU td{
	text-align:center;
}

/* 南健pageCSS */
.tcdPageCode {
	padding: 15px 20px;
	text-align: right;
	color: #ccc;
}

.tcdPageCode a {
	display: inline-block;
	color: #428bca;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border: 1px solid #ddd;
	margin: 0 2px;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode a:hover {
	text-decoration: none;
	border: 1px solid #428bca;
}

.tcdPageCode span {
	display: inline-block;
	margin: 0 4px;
}

.tcdPageCode span.current {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #fff;
	background-color: #428bca;
	border: 1px solid #428bca;
	border-radius: 4px;
	vertical-align: middle;
}

.tcdPageCode span.disabled {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	margin: 0 2px;
	color: #bfbfbf;
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	vertical-align: middle;
}
.toolbar1 {
	float: right;
}

.tcdPageCode {
	padding: 15px 20px;
	text-align: right;
	color: #ccc;
}	

.tablelist {
	width: 100%;
	clear: both;
	border-collapse: collapse;
}
.tablelist th {
	padding-top:4px;
	padding-bottom:4px; 
	background-color:#F0F5F7;
	border-bottom: solid 1px #b6cad2;
	text-indent: 11px;
	/* text-align: left; */
	text-align: center;
}

.tablelist caption{
	margin:24px auto 12px auto;
	font-size:16px;
	font-weight:bold;
}

.report-tr th{
	max-width:166px;
}

.tablelist td {
	border: solid 1px #cbcbcb;
	line-height: 35px;
	text-indent: 11px;
}

.tablelink {
	margin-right: 8px;
	color: #056dae;
	cursor: pointer;
}

.tablelist tbody tr.odd {
	background: #f5f8fa;
}

.tablelist tbody tr:hover {
	background: #e5ebee;
}

.text-center {
	text-align: center;
}
.dfinput {
	width: 280px;
	height: 32px;
	margin-right: 12px;
	line-height: 32px;
	border-top: solid 1px #a7b5bc;
	border-left: solid 1px #a7b5bc;
	border-right: solid 1px #ced9df;
	border-bottom: solid 1px #ced9df;
	text-indent: 10px;
}
.tipbtn {
	margin-left: 125px;
}
.sure, .cancel {
	width: 96px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}
.cancel {
	background: url(../images/btnbg2.png) repeat-x;
	color: #000;
	font-weight: normal;
}
.overlayer {
	/* width:100%;
	height:100%; */
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	z-index: 1111;
}

.tip {
	width: 520px;
	height: 500px;
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -270px;
	background: #fff;
	box-shadow: 1px 2px 2px 1px #9b9b9b;
	border-radius: 1px;
	behavior: url(js/pie.htc);
	display: none;
	z-index: 111111;
	opacity: 1;
	filter: alpha(opacity = 100);
}
/* 南健pageCSS结束 */
.form-group label {
    width: 15%;
    text-align: right;
}
.form-control{
	display: inline !important;
	width: 70%;
}
.buttonbox{
	 display: flex;
     width: 100%;
     flex-direction: row;  /* 子元素横向排列 */
     justify-content: center; /* 相对父元素水平居中 */
     align-items: center; /*  子元素相对父元素垂直居中 */
}
.panel-default > .panel-heading{
	padding: 15px !important;
}
.panel-heading > h4 {
	padding-top:0;
}
.add-project{
	width:90%;
	text-align: right;
	margin-bottom: 10px;
}
.add-project > img{
	height: 16px;
}
.col-md-12{
	width: 90%;
}
.col-md-12 .form-control{
	width: 85%;
}
.col-md-4{
	width: 325px
}
.motai{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -325px;
    z-index: 100;
    display: none;
}
.overlayer {
	/* width:100%;
	height:100%; */
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	z-index: 99;
}
.panel-footer{
	text-align: right;
}
.companyname{
	display: none;
}

.click{
	
	position:absolute;
	left:180px; /*左右位置*/
	top:174px;/*上下位置*/
	width:100px;
	height:100px;
	z-index:1;
	    color: #5bc0de;
}
.clicking{
	text_align:left
	position:absolute;
	
	top:150px;/*上下位置*/
	width:100px;
	height:100px;
	z-index:1;

}
.clickagain{
	text-align: right;
	
}
.input-group-btn{
	
	position:absolute;
	left:300px;
	top:21px;/*上下位置*/
	
	z-index:1;

}
.form-controling{
	
	position:absolute;
	
	top:21px;/*上下位置*/
	
	z-index:1;

}

.leftSecond{
	margin-left:30px;
}
a.leftSecond:hover,a.leftSecond:active{
	background-color:#E6E6E6 !important;
	color: #32C2CD !important;
}

.clickin{
	background-color:#E6E6E6 !important;
	color: #32C2CD !important;
}
